@charset "utf-8";
.pop {
    width: 590px;
    position: relative;
}
.pop .titleBox {
    width: 100%;
    padding: 7px 0;
    color: #fff;
    background: #1f1e1f;
    text-align: center;
}
.pop img {
    width: 100%;
    padding-top: 30px;
}
.btn {
    text-align: center;
    padding-top: 11px;
    vertical-align: middle;
    font-size: 14px;
}
.btn button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
}
.btn button:hover {
    background: #ddd;
}